.outset
  %table.index
    %thead
      %tr
        %th.name Javascript
        %th.actions{:style=>"width:8em;"} Modify
    %tbody
      - unless models.blank?
        - models.each do |javascript|
          %tr
            %td.name
              = image('javascript') 
              = link_to javascript.title, edit_admin_script_path(javascript)
            %td.actions= link_to image('minus') + ' ' + t('remove'), remove_admin_script_url(javascript), :class => "action"
      - else
        %tr
          %td.empty{:colspan => 2} No javascripts

#actions
  = pagination_for(models)
  %ul
    %li= link_to image('plus') + " " + t("new_javascript"), new_admin_script_path
